<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jy.lang.wordfindproject.repository.SermonPreachRepository">
    <resultMap id="resultSermonPreach" type="com.jy.lang.wordfindproject.domain.SermonPreach">
        <result property="id" column="id"/>
        <result property="lang" column="lang"/>
        <result property="code" column="code"/>
        <result property="contents" column="contents"/>
        <result property="type" column="type"/>
        <result property="innerOrder" column="inner_order"/>
    </resultMap>

    <select id="selectSermonPreach" resultMap="resultSermonPreach">
        SELECT *
        FROM sermon_preach
        where code = #{code}
        order by inner_order
    </select>

    <select id="selectCount" resultType="int">
        SELECT count(*)
        FROM sermon_preach
    </select>
</mapper>