<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jy.lang.wordfindproject.repository.WordRepository">
    <resultMap id="resultWord" type="com.jy.lang.wordfindproject.domain.Word">
        <result property="id" column="id"/>
        <result property="code" column="code"/>
        <result property="wordForm" column="word_form"/>
        <result property="baseForm" column="base_form"/>
        <result property="mean" column="mean"/>
    </resultMap>

<!--    발표 주제별 단어 조회-->
    <select id="selectWord" resultMap="resultWord">
        SELECT *
        FROM word
        where code = #{code}
    </select>
</mapper>